{% extends "base.html" %} {% block content %}
{% load static %}
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <div class = "main">
        

            <div class = "menu">
                <div class = "icon_box_left">
                    <a href="{% url 'iot:temperatur' %}" >
                        <img src="{% static 'images/senser.png'%}"  class = "icon">    
                        <div class="icon_text">
                            온습도 확인
                        </div>
                    </a>
                </div>

                <div class = "icon_box_right">
                    <a href="{% url 'iot:users' %}">
                        <img src="{% static 'images/users.png'%}"  class = "icon">
                        <div class="icon_text">
                            유저 확인
                        </div>
                    </a>
                </div>
            </div>

            <div class = "menu">
                <!--
                <div class = "icon_box_left">
                    <a href="{% url 'iot:temperatur' %}" >
                        <img src="{% static 'images/senser.png'%}"  class = "icon">    
                        <div class="icon_text">
                            온습도 확인
                        </div>
                    </a>
                </div>
                -->
                <div class = "icon_box_right">
                    <a href="{% url 'iot:datasetting' %}">
                        <img src="{% static 'images/setting.png'%}"  class = "icon">
                        <div class="icon_text">
                            데이터 관리
                        </div>
                    </a>
                </div>
            </div>
            

      
        
    </div>
   
    




{% endblock %}