{% extends "base.html" %} {% block content %}
{% load static %}
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    
    <button onclick="history.back()" class="button">뒤로가기</button>
    
    <div class = "main">
        <div class="body">

            <div class = "title">
                유저 확인
            </div>
            {% if mac %}  
            <div class = "data">
            {% for m in mac %}
        
                {{m}}, 
    
            {% endfor %}
                <div class="scan">
                    측정시간 : {{mac_time}}</br>
                </div>
            </div>
            {% else %}
                <div class = "error">
                    저장된 데이터가 없습니다.
                </div>

            {% endif %}

  
        



        </div>
    </div>

{% endblock %}